/*Caso o usuário tenha uma tela grande deixar centralizado*/
#app {
     max-width: 1200px;
     margin: 0 auto;
     padding: 60px 30px;

     /*deixa uma ao lado da outra*/
     display: flex;
     flex-direction: row;
     /*Deixar alinhado ao topo*/
     align-items: flex-start;
}